@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.events{
    background-color: #F3F3F3;
    padding: 1rem 0 4rem 0;
}

.heading h1{
    font-weight: 700;
    font-size: 4rem;
  }

.events img{
    height: 24rem;
    width: 24rem !important;
}

.events-content{
    margin-left: auto;
    margin-right: auto;
    background-color: #C8DFE3;
    width: 90%;
}

.myCarousel{
    display: flex;
    padding: 3rem 5rem;
}

.carousel-content{
    padding-left: 30px;
    text-align: justify;
}
.carousel-content h3{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.carousel-content p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: black;
    line-height: 39px;
}

@media(max-width: 768px){
    .myCarousel{
        display: block;
    }
    .events img{
        max-width: 100%;
        height: auto;
    }
    .carousel-content{
        padding-left: 0%;
    }
    .carousel-content h3{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    .carousel-content p{
        font-size: .75rem;
        line-height: 1rem;
    }
}